---
---

@import "{{ site.theme }}";

$conifer: #4d2670;
$cod-grey: #1e1e2e;
$body-background: $cod-grey !default;
$header: $conifer !default;
a {
  color: #9f4ad2;
}

header h1 {
  color: $conifer; //$header;
}

h1, h2, h3, h4, h5, h6 {
  color: $header;
}